
                           <form #myform="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="OnSubmitSearchProduct(myform.value)">
                            
                            <input class="form-control mr-sm-2" type="search" placeholder="Search User" aria-label="Search" name="value"  [(ngModel)]="value" style="background-color: transparent;border-color: black; width: 280px;">
                           <!-- <i class="fa fa-download" style="margin-left:2px;"  type="submit"></i>-->
                            <button  type="submit" class="btn btnadd " style="background-color: transparent;border-color: black; width: 55px;">ADD</button>
                          </form>
                          
                            <div class="card" style="margin-top:20px ; width: 100%;">
                                <div class="card-header">
                                    <strong class="card-title">Data Table</strong>
                                </div>
                                <div class="card-body">
                                    <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Username</th>
                                                <th>Email</th>
                                                <th>Adress</th>
                                                <th>User State</th>
                                                <th>Managed</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Tiger Nixon</td>
                                                <td>System Architect</td>
                                                <td>Edinburgh</td>
                                                <td> active</td>
                                                <td>
                                                    <button type="button" class="btn btn-danger" style="margin-left: 5%;">delete</button> 
                                                    <button type="button" class="btn btn-warning" style="margin-left: 5%;">banned</button>
                                                </td>
                                                
                                            </tr>
                                            <!--(users$ | async)?.someProperty-->
                                            <tr  *ngFor="let u of users">
                                                <td>{{u.username}}</td>
                                                <td>{{u.email}}</td>
                                                <td> {{u.adress}}</td>
                                                <td>{{u.userstate}}</td>
                                                
                                                <td>
                                                    <button type="button" class="btn btn-danger" style="margin-left: 5%;" (click)="OnDeleteCour(u._id)">delete</button> 
                                                    <button type="button" class="btn btn-warning" style="margin-left: 5%;">banned</button>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    
                                </div>
                            </div>
                        
        
  
