.nav-link[data-toggle].collapsed:before {
    content: " ▾";
}
.nav-link[data-toggle]:not(.collapsed):before {
    content: " ▴";
}
body{
    background-color: #EBEBEB;
    
}
.vrtc{
     background-color: #CCC5B9;
}
img.profile{
    margin-left: 7%;
    border-radius: 50%;
}
ul{ 

    margin-left: auto; 
	margin-right: auto; 
}
a{
    color: black;
}
.immg{
    width: 200px;
    height: 250px;
}
input{
    background-color: transparent;
    border-style: solid ;
    border-width: 1px;
    border-color: black;
}
textarea{
    background-color: transparent;
    border-color: black;
}
h1{
    margin-left: 0%;
}

