


<div class="container">
  <h3 class="A" >Categories</h3> 
  
  <button id="add" type="button" class="btn A" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus-circle" aria-hidden="true"></i> add new category</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
         
          <h4 class="modal-title">Name of category ?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <input type="text" name="name"  id="inputname" placeholder="" [(ngModel)]="cn" #name="ngModel"  >
        </div>
        <div class="modal-footer">
          <button id="savec" type="submit" class="btn" (ngSubmit)="OnSubmitAddCategory(cn.value) "> Save</button>
        </div>
      </div>
      
    </div>
  </div>
  
    <br><br>
  <div class="row pt-3" >
     <div class="col-lg-3 col-md-3 col-sm-10 category"  *ngFor="let c of categories" >
       <h4 class="pt-3"> {{c.name}}</h4>
       <div class="acts">
        <i class="fa fa-pencil"></i> &nbsp;
        <i class="fa fa-trash"></i>
       </div>
     </div>
    
    
    
  </div>
</div>

