#category{

  background-color: #FFF;
  border-radius: 20px;
  height: 65px;
  width: 250px;
  margin-left: 5px;
  margin-right: 5px;
  
}
h6{color: coral;
}

#add{ 
  color: coral;
  margin-left: 550px;
}
#savec{
  border-color: coral;
  color: coral;
}

.A{
  float: left;
}










