.category{

  background-color: #FFF;
  border-radius: 20px;
  height: 65px;
  width: 250px;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  overflow: hidden;
  
}
h6{color: coral;
}

#add{ 
  color: coral;
  margin-left: 550px;
}
#savec{
  border-color: coral;
  color: coral;
}

.A{
  float: left;
}

.acts{
  position: absolute;
  right: -50px;
    top: 22px;
    color: black;
    transition: 100ms;
}

.category:hover .acts{
  right: 15px;
  color:coral;

}

.category:hover {
background-color: #FCFBF1;
color: coral;
}


#delete{
  border-color: coral;
  color: coral;
}





