<div class="container-fluid" style=" background-color: #EBEBEB;">

            
                   
    <div class="col-md-12">
        <div class="card" style="margin-top:20px ;">
            <div class="card-header">
                <strong class="card-title">Data Table</strong>
            </div>
            <div class="card-body">
                <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Id Order</th>
                            <th scope="col">User</th>
                            <th scope="col">Orderstatue </th>
                            <th scope="col">Price </th>
                            <th scope="col">DeliveryTime</th>
                            <th scope="col">edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>user 1</td>
                            <td>shipped</td>
                            <td>200$</td>
                            <td>15/10/2020</td>
                            
                            <td>
                                <button type="button" class="btn btn-danger">delete</button> 
                            </td>
                        </tr>
                        <tr *ngfor="let o of orders">
                            <td>{{o.id}}</td>
                            <td>{{o.user}}</td>
                            <td>{{o.orderstatus}}</td>
                            <td>{{o.price}}</td>
                            <td>{{o.DeliveryTime}}</td>
                            
                            <td>
                                <button type="button" class="btn btn-danger">delete</button> 
                            </td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
