.A{
  float: left;
}

#add{ 
  color: coral;
  margin-left: 800px;
}

.product{

  background-color: #FFF;
  border-radius: 20px;
  height: 40px;
  width: 230px;
  margin-left: 5px;
  margin-right: 5px;
  position: absolute;
  bottom: 20px;
  overflow: hidden;
  left: 20px;

  
}



.acts{
  position: absolute;
  font-size: x-large;
  right: -90px;
    top: 2px;
    color: coral;
    transition: 100ms;
}

.img:hover .acts{
  right: 15px;
  color:coral;

}

.img:hover .product {
  background-color: #FCFBF1;
  color: coral;
  }

  .anim:hover{
   opacity: 30%;
  }

  .anim{
    background-color: black;
    opacity: 0%;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .img{
    position: relative;
    width: 270px;
    height: 230px;
    margin: 10px;
  }

  #delete{
    border-color: coral;
    color: coral;
  }