<div class="container-fluid" style=" background-color: #EBEBEB;">
    <div class="row">
        <div class="col-2 collapse show d-md-flex  pt-2 pl-0 min-vh-100 vrtc" id="sidebar">
            <ul class="nav flex-column flex-nowrap overflow-hidden " style="color: black;">
                <li class="nav-item">
                    <img src="https://i.dlpng.com/static/png/6542357_preview.png" style="width:90%;height:90%;">
                    <span class="d-none d-sm-inline" style="margin-left: 30%;">@username</span>
                 </li>
                <!--<li class="nav-item">
                    <a class="nav-link text-truncate" href="#"><i class="fa fa-home"></i> <span class="d-none d-sm-inline">My orders</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse" data-target="#submenu1"><i class="fa fa-table"></i> <span class="d-none d-sm-inline">Wish List</span></a>
                    <div class="collapse" id="submenu1" aria-expanded="false">
                        <ul class="flex-column pl-2 nav">
                            
                            <li class="nav-item">
                                <a class="nav-link collapsed py-1" href="#submenu1sub1" data-toggle="collapse" data-target="#submenu1sub1"><span>Account Settings</span></a>
                                <div class="collapse" id="submenu1sub1" aria-expanded="false">
                                    <ul class="flex-column nav pl-4">
                                        <li class="nav-item">
                                            <a class="nav-link p-1" href="#">
                                                <i class="fa fa-fw fa-clock-o"></i> Daily </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link p-1" href="#">
                                                <i class="fa fa-fw fa-dashboard"></i> Dashboard </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link p-1" href="#">
                                                <i class="fa fa-fw fa-bar-chart"></i> Charts </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link p-1" href="#">
                                                <i class="fa fa-fw fa-compass"></i> Areas </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    </div>-->
                    <li class="nav-item"><a class="nav-link text-truncate" href="#" style="margin-top: 20px;"><i class="fa fa-download"></i> <span class="d-none d-sm-inline">Dashboard</span></a></li>
                <li class="nav-item"><a class="nav-link text-truncate" href="#" style="margin-top: 5px;"><i class="fa fa-download"></i> <span class="d-none d-sm-inline">Ctalogue</span></a></li>
                <li class="nav-item"><a class="nav-link text-truncate" href="#" style="margin-top: 5px;"><i class="fa fa-download"></i> <span class="d-none d-sm-inline">Inventory</span></a></li>
                <li class="nav-item"><a class="nav-link text-truncate" routerLink="/orders" style="margin-top: 5px;"><i class="fa fa-bar-chart"></i> <span class="d-none d-sm-inline">Orders</span></a></li>
                <li class="nav-item"><a class="nav-link text-truncate" routerLink="/users" style="margin-top: 5px;"><i class="fa fa-download"></i> <span class="d-none d-sm-inline">Users</span></a></li>
                <li class="nav-item"><a class="nav-link text-truncate" href="#" style="margin-top: 5px;"><i class="fa fa-bar-chart"></i> <span class="d-none d-sm-inline">Settings</span></a></li>
                <li class="nav-item"><a class="nav-link text-truncate" href="#" style="margin-top: 5px;"><i class="fa fa-download"></i> <span class="d-none d-sm-inline">Log out</span></a></li>
            </ul>
        </div>
        <div class="col pt-2">   

            <nav class="navbar navbar-expand-lg navbar-light ">
                <form class="form-inline my-2 my-lg-0">
                   
                   <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="background-color: transparent;border-color: black; width: 280px; margin-left:5%;">
                 </form>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                 <ul class="navbar-nav mr-auto" style="margin-left: 75%; margin-top: 0px;">
                   <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       <i class="fa fa-bell"></i>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                       <a class="dropdown-item" href="#">Action</a>
                       <a class="dropdown-item" href="#">Another action</a>
                       <div class="dropdown-divider"></div>
                       <a class="dropdown-item" href="#">Something else here</a>
                     </div>
                   </li>
                   <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="seeus" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       See Us
                     </a>
                     <div class="dropdown-menu" aria-labelledby="see us">
                       <a class="dropdown-item" href="#">Admin</a>
                       <a class="dropdown-item" href="#">User</a>
                     </div>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" href="#"><i class="fa fa-user-circle"></i></a>
                   </li>
                   
                 </ul>
               </div>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
               </button>
             </nav>  
            
        </div>
    </div>
    
</div>
