<body>
<div class="container-fluid" style=" background-color: #EBEBEB;">
    <div class="row">
        <div class="col-2 collapse show d-md-flex  pt-2 pl-0 min-vh-100 vrtc" id="sidebar">
            <ul class="nav flex-column flex-nowrap overflow-hidden " style="color: black;">
                <li class="nav-item">
                    <img src="https://i.dlpng.com/static/png/6542357_preview.png" style="width:90%;height:90%;">
                    <span class="d-none d-sm-inline" style="margin-left: 30%;">@username</span>
                 </li>
               
                 
                <li class="nav-item"><a class="nav-link text-truncate" routerLink="/categories" style="margin-top: 25px;"><i class="fa fa-th-large"></i><span class="d-none d-sm-inline">  Categories</span></a></li>
                <li class="nav-item" ><a class="nav-link text-truncate" routerLink="/products" style="margin-top: 5px;"><i class="fa fa-product-hunt"></i><span  class="glyphicon glyphicon-search">  Product</span></a></li>
                <li class="nav-item"><a class="nav-link text-truncate" routerLink="/orders" style="margin-top: 5px;"><i class="fa fa-archive"></i><span class="d-none d-sm-inline">  Orders</span></a></li>
                <li class="nav-item"><a class="nav-link text-truncate" routerLink="/users" style="margin-top: 5px;"><i class="fa fa-users"></i> <span class="d-none d-sm-inline">  Users</span></a></li>
                <li class="nav-item"><a class="nav-link text-truncate" routerLink="/settings"style="margin-top: 5px;"><i class="fa fa-cog"></i> <span class="d-none d-sm-inline">   Settings</span></a></li>
                <li class="nav-item"><a class="nav-link text-truncate" href="#" style="margin-top: 5px;"><i class="fa fa-download"></i> <span class="d-none d-sm-inline">  Log out</span></a></li>
            </ul>
        </div>
        <div class="col-10 pt-2">   
            <nav class="navbar navbar-expand-lg navbar-light ">
                
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                 <ul class="navbar-nav mr-auto" style="margin-left: 75%; margin-top: 0px;">
                   <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       <i class="fa fa-bell"></i>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                       <a class="dropdown-item" href="#">Action</a>
                       <a class="dropdown-item" href="#">Another action</a>
                       <div class="dropdown-divider"></div>
                       <a class="dropdown-item" href="#">Something else here</a>
                     </div>
                   </li>
                   <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="seeus" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       See as
                     </a>
                     <div class="dropdown-menu" aria-labelledby="see us">
                       <a class="dropdown-item" href="#">Admin</a>
                       <a class="dropdown-item" href="#">User</a>
                     </div>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" href="#"><i class="fa fa-user-circle"></i></a>
                   </li>
                   
                 </ul>
               </div>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
               </button>
             </nav>  
             <hr>
             <div class="pt-3">
             <!--<app-users></app-users>--> 
             <router-outlet></router-outlet>
             </div>
            
        </div>
    </div>
    
</div>
</body>
